{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %} {{title}} - Perpetuum {% else %} Alternate Title {% endif %}
{% endblock %}

<!-- handle navigatiopn bar -->
{% block navbar %}
<nav class="navbar navbar-inverse bg-dark sticky-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='web-logo.png') }}" alt="Perpetuum" width="120p">
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- Add menu links here -->
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">Next</a></li>
        </ul>

          <ul class="nav navbar-nav navbar-right">

          </ul>
      </div>
  </div>
</nav>
{% endblock %}

<!-- handle block content -->
{% block content %}{% endblock %}
